* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #32383b;
}

.card {
    background: url(./assets/backgrounduse.png) no-repeat;
    width: 400px;
    height: 200px;
    background-size:cover;
    margin:auto;
    color: white;
    
}
ul {
    display: flex;
}
.list {
    font-family: 'Play', sans-serif;
    list-style-type: none;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    color: white ;
}

li {
    margin: 10px 20px 5px 5px;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
}

.nome {
    font-family: 'Play', sans-serif;
    list-style-type: none;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 5px 20px 5px 5px;
}

.links {
    text-decoration: none;
   
}
.links:hover {
    color:turquoise; 
    transition: all 250ms ease;
}
.links:visited {
    color: white;
}


